<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inasistencia</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class="header">
        <a href="/"><img src="img/mono.png" alt="" class="mono" srcset=""></a>
        <h2 class="name">C.E.M.G Marco Aurelio Soto (Control de Inasistencias)</h2>
        <img src="img/nav-phone.png" class="p-nav" alt="" style="display: none;" class="mono" srcset="">
    </header>

    <aside class="aside">
        <a href="maestros.ejs" class="aside-e">Maestros</a>
        <a href="control.ejs" class="aside-e" style="background-color: rgb(187, 187, 187); font-weight: 600;">Agg Inasistencia</a>
        <a href="Reporte.ejs" class="aside-e">Reporte</a>
        <a href="Graficos.ejs" class="aside-e">Grafico-General</a>
        <a href="chart_teacher.ejs" class="aside-e">Grafico-Individual</a>
    </aside>

    <div class="nav_manto"></div>
        <nav class="phone_nav">
            
            <a href="maestros.ejs" class="aside-e">Maestros</a>
            <a href="control.ejs" class="aside-e"  style="background-color: rgb(187, 187, 187); font-weight: 600;">Agg Inasistencia</a>
            <a href="Reporte.ejs" class="aside-e">Reporte</a>
            <a href="Graficos.ejs" class="aside-e">Graficos/General</a>
            <a href="chart_teacher.ejs" class="aside-e">Grafico-Individual</a>
        </nav>
    </div>

    <main class="main">
        
        <form action="add-inasistencia" method="post" class="form m_f" style = "margin-top: 5%;">
            <h3>Agregar Inasistencia</h3>
            <div class="pack"><label for="name">Maestro:</label>
            <select name="maestros" required id="maestros_option" class="text">
                
            </select>
            </div>
            <div class="pack"><label for="tel">Tipo:</label>
                <select required name="type" id="type" class="text">
                    <option value="NSP">NSP</option>
                    <option value="Permiso">Permiso</option>
                    <option value="Excusa">Excusa</option>
                </select>
            </div>
            <div class="pack"><label for="E-mail">Fecha:</label>
                <input type="date" required date-format="dd-mm-yyyy" name="date" id="" class="text">
            </div>
            <div class="form_btn_Sec">
                <a href="maestros.ejs"><input type="button" class="" value="Cancelar"></a>
                <input type="submit" class="add-b" value="Agregar">
            </div>
        
        </form>
        <footer>Copyright &copy 2022 by Neyfer Coto - All Rights Reserved</footer>
    </main>

    <script src="js/main.js"></script>
</body>
</html>