<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafico-General</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class="header">
        <a href="/"><img src="img/mono.png" alt="" class="mono" srcset=""></a>
        <h2 class="name">C.E.M.G Marco Aurelio Soto (Control de Inasistencias)</h2>
        <img src="img/nav-phone.png" class="p-nav" alt="" style="display: none;" class="mono" srcset="">
    </header>

    <aside class="aside">
        <a href="maestros.ejs" class="aside-e">Maestros</a>
        <a href="control.ejs" class="aside-e">Agg Inasistencia</a>
        <a href="Reporte.ejs" class="aside-e">Reporte</a>
            <a href="Graficos.ejs" class="aside-e" style="background-color: rgb(187, 187, 187); font-weight: 600;">Grafico/General</a>
            <a href="chart_teacher.ejs" class="aside-e">Grafico/Individual</a>
    </aside>

    <div class="nav_manto"></div>
        <nav class="phone_nav">
            
            <a href="maestros.ejs" class="aside-e">Maestros</a>
            <a href="control.ejs" class="aside-e">Agg Inasistencia</a>
            <a href="Reporte.ejs" class="aside-e" >Reporte</a>
            <a href="Graficos.ejs" class="aside-e" style="background-color: rgb(187, 187, 187); font-weight: 600;">Graficos/General</a>
            <a href="chart_teacher.ejs" class="aside-e">Grafico/Individual</a>
        </nav>
    </div>

    <main class="main">
        <div style="text-align: left; margin-left:-45%; margin-top:2%;">
    <form action="month" method="get" id="form">
            <label for="months" class="text" style="margin-left: 0;">Mes: </label>
        <select name="months" id="m-op" class="text">
            <option value="0">Todos</option>
            <option value="1" >Enero</option>
            <option value="2" >Febrero</option>
            <option value="3" >Marzo</option>
            <option value="4" >Abril</option>
            <option value="5" >Mayo</option>
            <option value="6" >Junio</option>
            <option value="7" >Julio</option>
            <option value="8" >Agosto</option>
            <option value="9" >Septiembre</option>
            <option value="10" >Octubre</option>
            <option value="11" >Noviembre</option>
            <option value="12" >Diciembre</option>
        </select>

        <input type="submit" value="Aplicar" class="add-b">
    </form>
    </div>
    
<br>
        <div id="canvas-holder" style="width: 70%; height:max-content; margin: auto;">
            <canvas id="myChart"></canvas>
        </div>
        

        <script src="js/chart.min.js"></script>
        <script src="js/main.js"></script>

        <footer>Copyright &copy 2022 by Neyfer Coto - All Rights Reserved</footer>
    </main>
</body>
</html>
