<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class="header">
        <a href="/"><img src="img/mono.png" alt="" class="mono" srcset=""></a>
        <h2 class="name">Control de asistencia de maestros</h2>
    </header>

    <aside class="aside">
        <a href="maestros.ejs" class="aside-e">Maestros</a>
        <a href="control.ejs" class="aside-e">Agg Inasistencia</a>
        <a href="Reporte.ejs" class="aside-e">Reporte</a>
        <a href="Graficos.ejs" class="aside-e" style="background-color: rgb(187, 187, 187);">Graficos</a>
    </aside>

    <main class="main">
        
    </main>
</body>
</html>