<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>



    <header class="header">
        <a href="/"><img src="img/mono.png" alt="" class="mono" srcset=""></a>
        <h2 class="name">Control de asistencia de maestros</h2>
    </header>

    <aside class="aside">
        <a href="maestros.ejs" class="aside-e" style="background-color: rgb(187, 187, 187);">Maestros</a>
        <a href="control.ejs" class="aside-e">Agg Inasistencia</a>
        <a href="Reporte.ejs" class="aside-e">Reporte</a>
        <a href="Graficos.ejs" class="aside-e">Graficos</a>
    </aside>

    <main class="main">
        <button id="add-m">Agregar</button>
        <table id="maestros_table">
            <tr>
                <th>N°</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>E-mail</th>
                <th>Area</th>
            </tr>
        </table>

           <!-- Agregar nuevo maestro-->
           <div class="manto manto_m">
    <form action="add-m" method="post" class="form m_f">
        <h3>Agregar Maestros</h3>
        <div class="pack"><label for="name">Nombre:</label><input type="text" class="text" name="nom"></div>
        <div class="pack"><label for="tel">Telefono:</label><input type="text" class="text" name="tel"></div>
        <div class="pack"><label for="E-mail">E-mail:</label><input type="text"  class="text"name="mail"></div>
        <div class="pack"><label for="area">Area:</label><input type="text" class="text" name="area" id=""></div>
        <div class="form_btn_Sec">
            <a href="maestros.ejs"><input type="button" class="" value="Cancelar"></a>
            <input type="submit" class="add-b" value="Agregar">
        </div>
    
    </form>

    
</div>
    </main>

    <script>
        
    </script>
    <script src="js/main.js"></script>

</body>
</html>