<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maestros</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <header class="header">
        <a href="/"><img src="img/mono.png" alt="" class="mono" srcset=""></a>
        <h2 class="name">C.E.M.G Marco Aurelio Soto (Control de Inasistencias)</h2>
        <img src="img/nav-phone.png" class="p-nav" alt="" style="display: none;" class="mono" srcset="">
    </header>

    <aside class="aside">
        <a href="maestros.ejs" class="aside-e" style="background-color: rgb(187, 187, 187); font-weight: 600;">Maestros</a>
        <a href="control.ejs" class="aside-e">Agg Inasistencia</a>
        <a href="Reporte.ejs" class="aside-e">Reporte</a>
        <a href="Graficos.ejs" class="aside-e">Grafico/General</a>
        <a href="chart_teacher.ejs" class="aside-e">Grafico/Individual</a>
    </aside>

    <div class="nav_manto"></div>
        <nav class="phone_nav">
            
            <a href="maestros.ejs" class="aside-e" style="background-color: rgb(187, 187, 187); font-weight: 600;">Maestros</a>
            <a href="control.ejs" class="aside-e">Agg Inasistencia</a>
            <a href="Reporte.ejs" class="aside-e" >Reporte</a>
            <a href="Graficos.ejs" class="aside-e">Graficos/General</a>
            <a href="chart_teacher.ejs" class="aside-e">Grafico/Individual</a>
        </nav>
    </div>

    <main class="main">
        <button id="add-m" class="add_maestro">Agregar</button>
        <table id="maestros_table">
            <tr>
                <th>N°</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>E-mail</th>
                <th>Area</th>
                <th>Opciones</th>
            </tr>
        </table>

           <!-- Agregar nuevo maestro-->
           <div class="manto manto_m">
    <form action="add-m" method="post" class="form m_f">
        <h3>Agregar Maestros</h3>
        <div class="pack"><label for="name">Nombre:</label><input required type="text" class="text" name="nom"></div>
        <div class="pack"><label for="tel">Telefono:</label><input required type="text" class="text" name="tel"></div>
        <div class="pack"><label for="E-mail">E-mail:</label><input type="text"  class="text"name="mail"></div>
        <div class="pack"><label for="area">Area:</label><input required type="text" class="text" name="area" id=""></div>
        <div class="form_btn_Sec">
            <a href="maestros.ejs"><input type="button" class="" value="Cancelar"></a>
            <input type="submit" class="add-b" value="Agregar">
        </div>
    
    </form>

    
</div>

       <!-- Edit nuevo maestro-->
       <div class="manto manto_m_edit">
        <form action="edit_m" method="post" class="form m_f">
            <h3>Editar Maestros</h3>
            <div class="pack"><label for="name">Nombre:</label><input required type="text" id="name" class="text" name="nom"></div>
            <div class="pack"><label for="tel">Telefono:</label><input required type="text" id="tel" class="text" name="tel"></div>
            <div class="pack"><label for="E-mail">E-mail:</label><input type="text" id="mail"  class="text"name="mail"></div>
            <div class="pack"><label for="area">Area:</label><input required type="text" id="area" class="text" name="area" id=""></div>
            <input type="hidden" name="id" id="id">
            <div class="form_btn_Sec">
                <a href="maestros.ejs"><input type="button" class="" value="Cancelar"></a>
                <input type="submit" class="edit_m" value="Guardar">
            </div>
        
        </form>
    
        
    </div>

    <footer>Copyright &copy 2022 by Neyfer Coto - All Rights Reserved</footer>
    </main>

    <script>
        
    </script>
    <script src="js/main.js"></script>

</body>
</html>