:root{
    --mono-green: rgb(0 168 90);
}

body{
    overflow: hidden;
}

.header{
    position: absolute;
    top: -1%;
    left: -2%;
    width: 99vw;
    height: 4em;
    background-color: rgb(71, 71, 71);
    margin: 0;
    padding-left: 3%;
    padding-top: 1%;
}

.mono{
    width: 50px;
}

.name{
    position: absolute;
    font-family: sans-serif;
    font-size: 15pt;
    color: white;
    top: 15%;
    left: 7%;
}

.aside{
    position: absolute;
    background-color: rgb(161, 161, 161);
    width: 12%;
    height: 90vh;
    top: 4.3em;
    left: 0%;
    z-index: -100;
    padding: 0;
}

.aside-e{
    text-decoration: none;
    font-size: 14pt;
    font-family: sans-serif;
    display: block;
    color: black;
    margin-top: 30px;
    width: 93%;
    padding-left: 5%;
}

.aside-e:hover{
    background-color: rgb(187, 187, 187);
}

.main{
    position: absolute;
    background-color: rgb(245, 245, 245);
    width: 88%;
    height: 90vh;
    left: 12%;
    top: 11.5%;
    overflow-x: scroll;
}

table{
    border-collapse: collapse;
    margin: 10px;
    width: 90%;
    text-align: center;
    margin: auto;
}

td, th{
    border: 2px solid black;
    padding: 5px;
    background-color: rgb(251, 251, 251);
    font-family: sans-serif;
}

th{
    background-color: bisque;
}

.form{
    background-color: rgb(253, 253, 253);
    width: 300px;
    padding: 3%;
    border-radius: 5%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin-top: 10%;
}

.pack {
    display: block;
    margin: 10px;
}

.form label{
    position: absolute;
}

.text{
    padding:5px;
    position: relative;
    left: 32%;
}

.f_btn{
   align-content: flex-end;
}

.form_btn_Sec input{
    background-color: rgb(32, 54, 250);
    padding: 3px;
    border-radius: 6%;
    color: #fff;
    font-weight: 500;
    font-size: 11pt;
}

.manto{
    background-color: rgba(128, 128, 128, 0.541);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

.i-expand{
    margin-top: -1.5; position: absolute; margin-left: 35%;
    -webkit-transform:rotate(-90deg);
}

.apply{
    padding: 5px;
    background-color: rgb(200, 200, 200);
    border-radius: 10%;
    font-weight: 550;
}

.add_maestro{
    padding: 5px;
    font-size: 12pt;
    background-color: rgb(81, 81, 218);
    font-weight: 600;
    color: white;
    margin: 1%;
}

footer{
    text-align: center;
    margin-top: 2%;
    font-size: 10pt;
}

.phone_nav{
    display: none;
}


/*CELLPHONESSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/

@media only screen and (max-width: 600px) {
    .name{
        font-size: 4.2vw;
        left: 20%;
    }

    .main{
        width: 100%;
        left: 1%;
        font-size: 2.5vw !important;
    }

    .text{
        padding: 1px;
        font-size: 2.5vw;
    }

    .p-nav{
        position: absolute;
        left: 85%;
        top: 25%;
        width: 15%;
        display: block !important;
    }

    .phone_nav{
        position: fixed;
        font-size: 2.5vw;
        background-color: rgb(255, 255, 255);
        z-index: 1;
        width: 100vw;
        margin: 0;
        left: 0%;
        top: 9%;
        display: none;
    }

    .aside-e{
        padding: 2px;
        text-align: center;
        font-weight: 600;
        font-size: 4vw;;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
    }

    .add_maestro{
        font-size: 2.5vw;
        padding: 5px;
    } 

    .apply{
        font-size: 2.5vw;
    }

    .report_form{
        margin-left: 0 !important;
    }

    #canvas-holder{
        width: 100vw !important;
        height: max-content !important;
    }

    .main_picture{
        width: 90vw !important;
        height: auto !important;
        left: 4vw !important;
        margin: auto;
    }

    .header{
        padding-top: 3%;
    }
}
